/* COLOR SCHEME
dp (dark pink) = #9f1d34
salmon = #e7626a
lp (light-ish pink) = #f1988f
peach = #fccca5
lo (light orange) = #fce2b6 */

/*   PLEASE USE THE CLASS ROUNDEED ON EVERY SINGLE IMAGE 
EXCEPT FOR THE CAROUSELL PLEASE GOD PLEASE    */

/* FONTS
Comic Sans = font-family: "Comic Sans MS", cursive, sans-serif; */

/* FULL SITE */


body{
    background-color:#fce2b6;
    font-family: "Comic Sans MS", cursive, sans-serif;
}







/*    CCCCCCCCC    OOOOOOOO    LLLL          OOOOOOOO    RRRRRRRRR        SSSSSSS
     CCCCCCCCCC   OOOOOOOOOO   LLLL         OOOOOOOOOO   RRR    RRR     SSSS   SSSS
     CCCC         OOO    OOO   LLLL         OOO    OOO   RRR     RRR   SSSS        
     CCCC         OOO    OOO   LLLL         OOO    OOO   RRR    RRR      SSSS    
     CCCC         OOO    OOO   LLLL         OOO    OOO   RRRRRRRRR          SSSS   
     CCCC         OOO    OOO   LLLL         OOO    OOO   RRR    RRR           SSSS 
     CCCCCCCCCC   OOOOOOOOOO   LLLLLLLLLL   OOOOOOOOOO   RRR     RRR   SSSS    SSSS
      CCCCCCCCC    OOOOOOOO    LLLLLLLLLL    OOOOOOOO    RRR     RRR      SSSSSSS     */

.bg-lp {
    background-color:#f1988f;
}
.bg-salmon{
    background-color:#E7626A;
}
.bg-dp{
    background-color:#9f1d34;
}
.salmon{
    color:#E7626A;
}







/*   FFFFFFFFFF    OOOOOOOO    NNN      NN   TTTTTTTTTTT      SSSSSS
     FFFFFFFFFF   OOOOOOOOOO   NNNN     NN   TTTTTTTTTTT    SSSS   SSSS
     FFFF         OOO    OOO   NN NN    NN       TTT       SSSS        
     FFFFFFFF     OOO    OOO   NN  NN   NN       TTT         SSSS    
     FFFFFFFF     OOO    OOO   NN   NN  NN       TTT            SSSS   
     FFFF         OOO    OOO   NN    NN NN       TTT              SSSS 
     FFFF         OOOOOOOOOO   NN     NNNN       TTT       SSSS    SSSS
     FFFF          OOOOOOOO    NN      NNN       TTT          SSSSSSS     */

.text{
    font-family: "Comic Sans MS";
    color: white;
}
.text-no-color{
    font-family: "Comic Sans MS";
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.underline{
    font-style: underline;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}







/*   NNN      NN     AAAAAA     VVV    VVV   BBBBBBB        AAAAAA     RRRRRRRRR
     NNNN     NN    AAA  AAA    VVV    VVV   BBB  BBB      AAA  AAA    RRR    RRR
     NN NN    NN   AAA    AAA   VVV    VVV   BBB   BBB    AAA    AAA   RRR     RRR
     NN  NN   NN   AAA    AAA   VVV    VVV   BBBBBBB      AAA    AAA   RRR    RRR
     NN   NN  NN   AAAAAAAAAA   VVV    VVV   BBB   BBB    AAAAAAAAAA   RRRRRRRRR
     NN    NN NN   AAA    AAA   VVV    VVV   BBB    BBB   AAA    AAA   RRR    RRR
     NN     NNNN   AAA    AAA    VVV  VVV    BBB   BBB    AAA    AAA   RRR     RRR
     NN      NNN   AAA    AAA      VVVV      BBBBBBBB     AAA    AAA   RRR     RRR   */

.nav-logo{
    height:70px;
    padding: 0px;
}

.btn-nav {
    background-color:#E7626A;
    color:white;
    font-size:130%;
    margin-right:12px;
}

.btn-nav:hover {
    color:#9f1d34;
}

.nav-link {
    color: white;
    font-size:130%;
}

.nav-link:hover {
    font-weight:bold;
    color:white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.nav-item {
    padding-left:25px;
    padding-right:25px;
}

nav {
    padding-bottom:25px;
}







/*    CCCCCCCCC     AAAAAA     RRRRRRRRR      OOOOOOOO    UUU    UUU      SSSSSSS     EEEEEEEEEE   LLLL         
     CCCCCCCCCC    AAA  AAA    RRR    RRR    OOOOOOOOOO   UUU    UUU    SSSS   SSSS   EEEEEEEEEE   LLLL         
     CCCC         AAA    AAA   RRR     RRR   OOO    OOO   UUU    UUU   SSSS           EEE          LLLL         
     CCCC         AAA    AAA   RRR    RRR    OOO    OOO   UUU    UUU     SSSS         EEEEEEEE     LLLL         
     CCCC         AAAAAAAAAA   RRRRRRRRR     OOO    OOO   UUU    UUU        SSSS      EEEEEEEE     LLLL         
     CCCC         AAA    AAA   RRR    RRR    OOO    OOO   UUU    UUU          SSSS    EEE          LLLL         
     CCCCCCCCCC   AAA    AAA   RRR     RRR   OOOOOOOOOO   UUU    UUU   SSSS    SSSS   EEEEEEEEEE   LLLLLLLLLL   
      CCCCCCCCC   AAA    AAA   RRR     RRR    OOOOOOOO      UUUUUU        SSSSSSS     EEEEEEEEEE   LLLLLLLLLL   */

.carousel{
    margin-top:3%;
}







/*      SSSSSS      HHH    HHH    OOOOOOOO    PPPPPPPP        PPPPPPPP        AAAAAA        GGGGG      EEEEEEEEEE      SSSSSSS
      SSSS   SSSS   HHH    HHH   OOOOOOOOOO   PPP    PPP      PPP    PPP     AAA  AAA     GG     GG    EEEEEEEEEE    SSSS   SSSS
     SSSS           HHH    HHH   OOO    OOO   PPP     PPP     PPP     PPP   AAA    AAA   GG       GG   EEE          SSSS        
       SSSS         HHHHHHHHHH   OOO    OOO   PPP    PPP      PPP    PPP    AAA    AAA   GG            EEEEEEEE       SSSS    
          SSSS      HHHHHHHHHH   OOO    OOO   PPPPPPPPP       PPPPPPPPP     AAAAAAAAAA   GG    GGGGG   EEEEEEEE          SSSS   
            SSSS    HHH    HHH   OOO    OOO   PPP             PPP           AAA    AAA   GG       GG   EEE                 SSSS 
     SSSS    SSSS   HHH    HHH   OOOOOOOOOO   PPP             PPP           AAA    AAA    GG      GG   EEEEEEEEEE   SSSS    SSSS
        SSSSSSS     HHH    HHH    OOOOOOOO    PPP             PPP           AAA    AAA      GGGGGG     EEEEEEEEEE      SSSSSSS      */

.product-card .row {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

h1 {
    margin-top: 9%;
    text-align:center;
    font-family: Ubuntu;
    font-variant: normal;
    font-weight: 700;
}

.h4-shop {
    text-align:center;
    margin-top:.75rem;
    margin-bottom:1.25rem;
}

.hr-shop{
    width:78%;
    margin-top:0;
    margin-bottom:1.5rem;
}







/*      SSSSSS      IIIIIIIIII      GGGGG      NNN      NN   UUU    UUU   PPPPPPPP      
      SSSS   SSSS      IIII       GG     GG    NNNN     NN   UUU    UUU   PPP    PPP    
     SSSS              IIII      GG       GG   NN NN    NN   UUU    UUU   PPP     PPP   
       SSSS            IIII      GG            NN  NN   NN   UUU    UUU   PPP    PPP    
          SSSS         IIII      GG    GGGGG   NN   NN  NN   UUU    UUU   PPPPPPPPP     
            SSSS       IIII      GG       GG   NN    NN NN   UUU    UUU   PPP           
     SSSS    SSSS      IIII       GG      GG   NN     NNNN   UUU    UUU   PPP           
        SSSSSSS     IIIIIIIIII      GGGGGG     NN      NNN     UUUUUU     PPP           */

.signup-form{
    width:80%;
    height:500px;
    margin-top:500px;
}
.signup-con

/* FOOTER */
footer {
    width:100%;
}